# hugo destination build
public/

resources/_gen/
.hugo_build.lock

guide-repos/

# Microsoft Visual Studio exclusions
*.sln
*.suo
*.phpproj

# IntelliJ
.idea/

# npm
node_modules/

# macOS
.DS_Store

/nbproject/

/tmp/
